.header {
	background-image:url("../images/background.jpg");}

.container{
	padding-top: 40px;
	margin:0 auto;
	max-width: 1170px;}

.logo-nav-flex{
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	align-items: center;
	justify-content: space-between;
	display:flex;}

.meniu {
	align-items: center;}

nav ul {
	text-decoration: none;
	display:inline-flex;}

nav ul li {
	margin-left:40px;}

nav ul li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	color:rgba(255, 255, 255, 0.75);}

.center-content{
	margin:0 auto;
	padding-bottom: 150px;
	padding-top:150px;
	max-width: 870px;
	text-align: center;}

.center-content h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: 1.1;
	font-size: 65px;
	color:#fff;}

.center-content p {
	padding-top:40px;
	padding-bottom:80px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color:#fff;}

a.button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	color:#fff;
	border-radius: 0.5px;
	text-decoration: none;
	background-color:#e84545;
	padding:18px 50px 18px 50px;}

.container-features {
	padding-bottom:80px;
	padding-top:120px;
	justify-content: center;
	text-align: center;
	display: flex;
	flex-flow: wrap;}

.container-features > div {
	margin-left:25px;
	margin-right:25px;
	width: 335px;}

.container-features > div > h2 {
	color:#2d3033;
	padding-top:30px;
	padding-bottom:25px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight:700;}

.container-features > div > p {
	color:#6c7279;
	padding-bottom:80px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight:400;}

.works-flex {
	justify-content:center;
	flex-wrap: wrap;
	display:flex;}

.works-flex > div {
	font-size:0;
	width:25%;}

.works-flex img {
	max-width: 100%;
	height: auto;}

.works {
	margi:0;
	text-align: center;
	padding-bottom:80px;}

.members {
	margin-left:15px;
	margin-right: 15px;
	width: 260px;}

.team-flex {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 80px;}

.team h3 {
	color:#2d3033;
	font-family: 'Raleway', sans-serif;
	font-size:22px;
	font-weight: 400;
	padding-bottom:20px;
	padding-top:30px;}

.members span {
	font-family: 'Raleway', sans-serif;
	color:#e84545;
	font-size:13px;
	font-weight:400;}

.team p {
	color:#6c7279;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	padding-top:10px;}

.icons {
	padding-top:40px;}

.icons-flex {
	display: flex;}

ul.icons-flex li {
	margin-right:10px;
	border: 1.5px solid #e8ecee;
	width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;}

ul.icons-flex a li{
	color:#e8ecee;}

.slider {
	padding-bottom: 80px;}

.slider-flex {
	padding:0;
	display: flex;}

.image-slider img {
	width: 100%;}

.image-slider {
	font-size: 0;
	height: auto;
	width: 50%;}

.background-slider {
	background-color:#53354a;
	width: 50%;}

.italic,
.position{
	text-align: left;
	color:#fff;}

.italic {
	max-width: 380px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: italic;
	line-height: 1.6;
	font-size: 24px;}
.position {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 700;}

.circles ul li {
	margin:-3px;
	font-size: 300%;
	color:rgba(255, 255, 255, 0.2);
	display: inline;}

.background-slider-inner{
	max-width: 450px;
	padding-top:10%;
	padding-left:40px;}

.background-slider{
	text-align: center;}

p.italic {
	padding-bottom: 35px;}

p.position {
	padding-bottom: 20px;}

.container-ready {
	text-align: center;
	padding-bottom: 200px;}

.container-ready h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 400;}

.container-ready p {
	text-transform: uppercase;
	padding-top: 20px;
	padding-bottom: 60px;
	font-family: 'Raleway', sans-serif;
	font-size:13px; 
	font-weight:700;}

a.button-download {
	text-align: center;
	padding:18px 80px 18px 80px;}

.about  {
	width:33.33%;}

.location {
	 width:33.33%;;}
.icons-footer {
	width:33.33%;}

.footer-flex {
	margin:0 auto;
	justify-content: space-between;
	max-width: 70%;
	flex-wrap: wrap;
	text-align: center;
	display: flex;}

.copyright {
	color:#808080;
	text-align: center;}

.icons-footer {
	padding-top:0;}

.icons-footer-center {
	justify-content: center;}

.footer {
	padding:70px 107px;
	background-color: #3a3e64;}

.copyright {
	background-color: #313454;}

h3.text-color-footer,
	.Kamal-Chaneman {
	color:#fff;}

h3.text-color-footer {
	padding-bottom:20px;}

p.footer-text-info {
	color:#a9aab7;}

.fa-heart{
	color:#e84545;}

.container-copyright {
	padding-top:30px;
	padding-bottom: 30px;}

/*Hover's*/
.button:hover {
	border-radius:2px;
	box-shadow: inset 0px 4px 10px rgba(196, 55, 55, 1);
  transform: scale(0.98,0.98);
  transition: 0.15s;}

 nav ul li a:hover {
 	transition: 0.4s;
 	color:rgba(255, 255, 255, 1);}

	
ul.icons-flex li:hover {
	transition: 0.35s;
	border: 1.5px solid #e84545;
	background-color: #e84545;}

ul.icons-flex a li:hover {
	color:#fff;}

.Kamal-Chaneman:hover {
	transition: 0.35s;
	cursor: pointer;
	color: #e84545
}


















